html, body {
  height: 100%;
  margin-left: 0;
  display: flex;
  flex-direction: column;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
   opacity: 1;
}

.container-fluid {
  display: flex;
  flex: 1;
  margin: 0;
  padding: 0;
}

.hamburger-wrapper {
  position: absolute;
  top: 3.2rem;
  right: 2rem;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.hamburger {
  display: block;
  border: 2px solid #000000;
  border-radius: 10px;
  width: 2rem;
  height: 0;
}

.hamburger:before {
  display: block;
  content: " ";
  border: 2px solid #000000;
  border-radius: 10px;
  width: 2rem;
  height: 0;
  margin-top: 5px;
  margin-left: -2px;
}

.hamburger:after {
  display: block;
  content: " ";
  border: 2px solid #000000;
  border-radius: 10px;
  width: 2rem;
  height: 0;
  margin-top: 3px;
  margin-left: -2px;
}

.navbar {
  background-color: #FAFAFA;
  box-shadow: 1px 0 5px 0px #CCC;
  margin-bottom: 0;
  position: relative;
  z-index: 100;
}

.navbar__header {
  text-align: center;
  margin-bottom: 3rem;
}

.welcome {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 1s ease;
  background-color: #FAFAFA;
  background-image:
  radial-gradient(circle at 100% 150%, #FAFAFA 24%, white 25%, white 28%, #FAFAFA 29%, #FAFAFA 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 0    150%, #FAFAFA 24%, white 25%, white 28%, #FAFAFA 29%, #FAFAFA 36%, white 36%, white 40%, transparent 40%, transparent),
  radial-gradient(circle at 50%  100%, white 10%, #FAFAFA 11%, #FAFAFA 23%, white 24%, white 30%, #FAFAFA 31%, #FAFAFA 43%, white 44%, white 50%, #FAFAFA 51%, #FAFAFA 63%, white 64%, white 71%, transparent 71%, transparent),
  radial-gradient(circle at 100% 50%, white 5%, #FAFAFA 6%, #FAFAFA 15%, white 16%, white 20%, #FAFAFA 21%, #FAFAFA 30%, white 31%, white 35%, #FAFAFA 36%, #FAFAFA 45%, white 46%, white 49%, transparent 50%, transparent),
  radial-gradient(circle at 0    50%, white 5%, #FAFAFA 6%, #FAFAFA 15%, white 16%, white 20%, #FAFAFA 21%, #FAFAFA 30%, white 31%, white 35%, #FAFAFA 36%, #FAFAFA 45%, white 46%, white 49%, transparent 50%, transparent);
  background-size:100px 50px;
  z-index: 10;
}

.welcome--removed {
  transform: translateY(-100vh);
}

.welcome__text {
  max-width: 50rem;
  margin: 0 2rem 3rem;
}

.app {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.sidebar {
  display: none;
  flex: .25;
  border-right: 1px solid #DADADA;
  padding: 0 2rem;
  position: fixed;
  z-index: 1;
  background: white;
  left: 0;
  right: 0;
}

.sidebar--show {
  display: block;
  border-top: 1px solid #DADADA;
  box-shadow: 0 4px 2px 0px #DADADA;
}

.sidebar__separator {
  display: flex;
  justify-content: space-between;
  margin: 2rem -2rem;
  background: #DADADA;
  padding: 1rem 2rem;
}

label {
  margin: 0;
  cursor: pointer;
}

.guests-input {
  height: 4rem;
  width: 8rem;
  text-align: center;
  margin: 0 2rem;
  padding: 0 1rem;
  border-radius: 3px;
  outline: none;
  border: 1px solid #EEE;
  transition: all .3s ease;
  background-color: #F8F8F8;
}

.selected-dishes {
  padding: 0;
}

.selected-dishes__item {
  display: flex;
  justify-content: space-between;
}

.guests-input:hover {
  box-shadow: 0 0 1px 1px #FF530D;
}

.guests-input:focus {
  border: 1px solid rgb(255,83,13);
}

.app-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  width: 100%;
}

.dish-filter-wrapper {
  padding: 0 2rem;
  border-bottom: 1px solid #DADADA;
}

.dish-filter {
  display: flex;
  flex-wrap: wrap;
}

.dish-filter__text,
.dish-filter__type {
  background-color: #F8F8F8;
  height: 4rem;
  border-radius: 3px;
  outline: none;
  border: 1px solid #EEE;
  margin: 0 2rem 2rem 0;
  padding: 0 1rem;
  transition: all .3s ease;
}

.dish-filter__text:hover,
.dish-filter__type:hover {
  box-shadow: 0 0 1px 1px #FF530D;
}

.dish-filter__text:focus,
.dish-filter__type:focus{
  border: 1px solid rgb(255,83,13);
}

.dish-display {
  display: flex;
  flex-wrap: wrap;
}

.dish-wrapper {
  margin: 1rem;
  max-width: 140px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;
}

.dish-wrapper:hover {
  background-color: #DADADA;
  box-shadow: 0 0 4px 0 #DADADA;
}

.dish-image {
  height: 140px;
  width: 140px;
}

.dish-content {
  display: flex;
  flex-direction: column;
}

.dish-confirm__total {
  border-left: 1px solid #DADADA;
  margin: 0 1rem;
  padding: 1rem;
}

.dish-confirm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
}

.dish-confirm__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.dish-details {
  padding: 0 1rem;
  flex: .6;
}

.dish-print {
  display: flex;
  justify-content: center;
}

.dish-print-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
}

.dish-print-wrapper div {
  flex: 0.33;
  max-width: 500px;
  margin: 2rem;
}

.dish-ingredients {
  padding: 0 2rem;
  flex: .4;
  background-color: #FFC029;
  margin: 2rem;
  box-shadow: 6px 5px 10px 0 #888888;
}

.ingredient {
  display: flex;
  margin: 2rem 0;
}

.ingredients-list {
  margin: 0;
  padding: 0;
}

.ingredient span {
  flex: .33;
}

.currency {
  flex: .1;
  text-align: right;
}

.ingredients-total {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: block;
  height: 4rem;
  width: 20rem;
  color: #FFFFFF;
  background-color: #FF530D;
  transition: all .3s ease;
  margin-bottom: 2rem;
}

.btn:active,
.btn:focus {
  outline: none;
  color: #FFFFFF;
}

.btn--primary:hover {
  color: #FFFFFF;
  box-shadow: 0 0 1px 1px #FF530D;
}

.btn--disabled {
  color: #FFFFFF;
  box-shadow: 0 0 1px 1px #FF530D;
}

@media screen and (min-width: 768px) {
  .hamburger {
    display: none;
  }

  .sidebar {
    display: block;
    position: relative;
    flex: 1 0 auto;
  }

  .app-main {
    flex: .75;
    margin: 0 auto;
  }

  .dish-content {
    flex-direction: row;
  }
}




